@import url('../why-flexicap/swiper.min.css');

.section.why-flexicap-container {
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
}

.section.why-flexicap-container>div {
    padding: 0;
}

.why-flexicap-container h2 {
    color: #2b2e8c;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 45px 0;
    text-align: center;
}

.why-flexicap.flexicap-desktop-hide .flexicap-inner-content .flexicap-subinner-2 {
    display: none;
}

@media screen and (max-width: 768px) {

    .why-flexicap.flexicap-mobile-hide .flexicap-inner-content .flexicap-subinner-0,
    .why-flexicap.flexicap-mobile-hide .flexicap-inner-content .flexicap-subinner-1 {
        display: none;
    }

    .why-flexicap.flexicap-desktop-hide .flexicap-inner-content .flexicap-subinner-2 {
        display: block;
    }
}

.why-flexicap .flexicap-inner-content {    
    width: 100% !important;
}

.why-flexicap .flexicap-inner-content .flexicap-subinner-0 {
    max-width: 31.71%;
    width: 100%;
    display: flex;
}

.why-flexicap .flexicap-inner-content .flexicap-subinner-1 {
    padding-top: 24px;
}

.why-flexicap .flexicap-inner-content .flexicap-subinner-1 .subinner-content:nth-of-type(2) {
    color: #231f20;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.why-flexicap .flexicap-inner-content .flexicap-subinner-1 .subinner-content:nth-of-type(3) {
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.why-flexicap-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 486px;
}

.why-flexicap-wrapper .why-flexicap {
    max-width: 66.64%;
}

.why-flexicap-wrapper .swiper-pagination {
    max-width: 28.65%;
    bottom: unset;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.why-flexicap-wrapper .swiper-pagination .subinner-content.swiper-pagination-bullet {
    width: initial;
    height: 100%;
    opacity: unset;
    background: unset;
    border-radius: unset;
    padding: 18px 43px;
    margin: 0;
    border-radius: 10px 0 0 10px;
    color: #231f20;
    font-family: sans-serif;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.why-flexicap-wrapper .swiper-pagination::after,
.why-flexicap-wrapper .swiper-pagination .subinner-content.swiper-pagination-bullet::before {
    content: '';
    height: 1.5px;
    width: 100%;
    background: #e5e7eb;
    position: absolute;
    top: 0;
    left: 0;
}

.why-flexicap-wrapper .swiper-pagination::after{
    top: unset;
    bottom: 0;
}

.why-flexicap-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #44479e;
    color: #fff;
}

.why-flexicap-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    content: '';
    border-top: 31px solid transparent;
    border-left: 22px solid #44479e;
    border-bottom: 32px solid transparent;
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}