.goal-based-calc-content {
    max-width: 100%;
    margin: 0 auto;
    background-color: #dadfe4;
    box-shadow: 0 2px 25px 0 rgb(0 0 0 / 12%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-content {
    max-width: 42%;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
}

.calc-head {
    background-color: #ebf1ff;
    color: #2e2a94;
    margin: 0;
    padding: 16px 24px;
    border-radius: 12px 12px 0 0;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
}

.left-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.each-field .each-field-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.each-field-top .field-title {
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    width: 80%;
}

.each-field-top input {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    width: 15%;
    text-align: center;
    border-radius: 4px;
}

.each-field-top input.default {
    background-color: #e9faf3;
    color: #04b488;
}

.each-field-top input.error {
    background-color: #fae9e5;
    color: #ed5533;
}

.each-field-top input::before {
    content: '*';
}

.each-field-top input::-webkit-inner-spin-button,
.each-field-top input::-webkit-outer-spin-button {
    appearance: none;
}

.each-field .each-field-bottom {
    position: relative;
    margin-top: 15px;
}

.each-field .each-field-bottom input {
    width: 100%;
    height: 10px;
    margin: 7px 0;
    appearance: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    background: #ccc;
}

.each-field .each-field-bottom input::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 16px;
    background: linear-gradient(to right, #006eb9 var(--progress),
            rgba(128, 128, 128, 0) var(--progress));
}

.each-field .each-field-bottom input::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background: #006eb9;
    border-radius: 50%;
    margin-top: -5px;
}

.right-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 58%;
    width: 100%;
}

.right-content #calculate-chart {
    width: 400px;
    height: 400px;
}

.calculated-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 30px;
}

.calculated-container .calculated-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.calculated-content span:first-child::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -30px;
}

.calculated-content:nth-of-type(1) span:first-child::before {
    background-color: #2e2a94;
}

.calculated-content:nth-of-type(2) span:first-child::before {
    background-color: #1f88ce;
}

.calculated-content:nth-of-type(3) span:first-child::before {
    background: conic-gradient(#007bd6 0deg 180deg, #2A2A85 180deg 360deg);
}

.calculate-title,
.calculate-value {
    color: #2e2a94;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
}

.calculate-value {
    color: #006eb9;
    font-weight: 700;
}

.calculate-value::before {
    content: '₹';
    margin-right: 3px;
}